/* Copyright (c) 2006 by Michael J. Roberts.  All Rights Reserved. */
/*
Name
  htmladdin.rc - Workbench HTML/XML addin - resources
Function
  This is a TADS Workbench add-in that provides customized indenting and
  styling for HTML and XML source files opened in Workbench's integrated
  Scintilla editor.

  See itadsworkbench.h for details on how to create Workbench extensions.
Notes

Modified
  10/05/06 MJRoberts  - Creation
*/

#include <windows.h>
#include "htmladdin.h"

ICON_HTML_FILE   ICON DISCARDABLE "HTML file.ico"
ICON_XML_FILE    ICON DISCARDABLE "XML file.ico"
ICON_CSS_FILE    ICON DISCARDABLE "CSS file.ico"
